* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body, header, nav, ul, main, form, footer, div {
  display: flex;
}

body {
  flex-direction: column;
  color: #FFFFFF;
  font-family: 'Kufam', sans-serif;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url('images/Background.png');
  background-size: 100%;
  background-repeat: no-repeat;

}

header {
  justify-content: center;
}

header img {
  width: 120px;
  height: 60px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.mobile-only {
  display: none;
}

.mobile-only img {
  display: none;
}

nav {
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  height: 33px;
}

ul {
  list-style: none;
}

li {
  margin-inline: 30px;
}

main {
  height: 100%;
  justify-content: center;
  align-items: center;
}

form {
  flex-direction: column;
  justify-content: space-evenly;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.8), rgba(38, 38, 38, 0.8)),
              linear-gradient(0deg, rgba(115, 115, 115, 0.5), rgba(115, 115, 115, 0.5));
  align-items: center;
  width: 450px;
  height: 450px;
  border-radius: 12px;
  border: 1px;
  margin-top: 50px;
  margin-bottom: 50px;

}

.logo {
  width: 34px;
  height: 42px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.e-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: start;
  width: 376px;
}

.txtbox {
  width: 376px;
  min-height: 38px;
  background-color: #262626;
  border: 1px solid #414141;
  border-radius: 3px;
  padding: 7px, 14px, 7px, 14px;
  gap: 8px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  padding-left: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#checkbox-div {
  width: 376px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

#checkbox-div .check {
  background: rgba(38, 38, 38, 0.80);
  backdrop-filter: blur(5px);
  border: 1px solid #414141;
  border-radius: 3px;
  margin-right: 10px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  width: 376px;
  height: 48px;
  top: 640px;
  left: 771px;
  padding: 12px 110px 12px 111px;
  border-radius: 6px;
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.40) inset, 0px 2px 0px 0px #FFF, 0px 0px 0px 8px rgba(255, 255, 255, 0.05);
  color: #FFFFFF;
  background: linear-gradient(to right, #22AE75, #00874F);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

#forgetPassword {
  display: flex;
  justify-content: center; 
}

#forgetPassword a {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #33E29A;
  text-decoration: none;
}

footer {
  justify-content: center;
  margin-bottom: 20px;
}

.footer-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

footer ul div img {
  height: 32px;
  width: 32px;
}

#navList li {
  flex-grow: 1;
}

#navList div:hover {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  gap: 8px;
  color: #33E29A;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(2.5px);
}

#navList {
  align-items: center;
  justify-content:space-evenly ;
  width: 627px;
  height: 100%;
}

/* Agora não saberei diferenciar o certo do errado */

@media (max-width: 600px) {
  body {
    background-image: url(images/background-with-gradient.png);
  }

  header {
    justify-content: space-between;
    padding-left: 30px;
  }

  .mobile-only {
    display: block;
  }

  .mobile-only img {
    display: block;
    height: 32px;
    width: 32px;
    margin-top: 30px;
    margin-right: 26px;
  }

  #navList {
    display: none;
  }

  form {
    width: 312px;
    height: 485px;
    flex-shrink: 0;
  }

  .txtbox, .e-p, #checkbox-div, .submit-btn {
    width: 264px;
  }

  footer ul {
    flex-direction: column;
    gap: 36px;
  }
}